body,
        html {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        overflow: hidden;
        }

        #viewport {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        }

        .svgHidden {
        visibility: hidden;
        }

        .label {
        font-size: 0.2em;
        }